<a
  [matMenuTriggerFor]="menu"
  aria-label="User settings"
  class="flex flex-col items-center gap-1">
  <ng-icon class="text-xl" name="bootstrapGear"/>
  <span class="text-xs">Settings</span>
</a>
<mat-menu #menu="matMenu" panelClass="bg-default">
  <div class="bg-default">

    <!--My profile-->
    <button
      class="flex gap-2 items-center"
      mat-menu-item
      routerLink="/users/user-profile">
      <ng-icon
        class="text-sm hover:text-pink-300"
        matMenuItemIcon
        name="bootstrapPerson"
      />
      <span class="text-sm">My profile</span>
    </button>

    <!--Verify email.-->
    <button
      (click)="handleEmailVerification()"
      [disabled]="currentUser()?.emailVerified"
      class="flex gap-2 items-center"
      mat-menu-item>
      <ng-icon
        [name]="currentUser()?.emailVerified ? 'bootstrapEnvelopeCheck' : 'bootstrapEnvelopeX'"
        [ngClass]="currentUser()?.emailVerified ? 'text-green-400' : 'text-red-400'"
        class="text-sm"
        matMenuItemIcon
      />
      <span class="text-sm">{{ currentUser()?.emailVerified ? 'Email verified' : 'Verify email' }}</span>
    </button>

    <!--Update Email address-->
    <button
      class="flex gap-2 items-center"
      mat-menu-item
      routerLink="/users/email-address"
    >
      <ng-icon
        class="text-sm hover:text-pink-300"
        matMenuItemIcon
        name="bootstrapEnvelope"
      />
      <span class="text-sm">Update email address</span>
    </button>

    <!--Update password-->
    <button
      class="flex gap-2 items-center"
      mat-menu-item
      routerLink="/users/new-password"
    >
      <ng-icon
        class="text-sm hover:text-pink-300"
        matMenuItemIcon
        name="bootstrapKey"
      />
      <span class="text-sm">Update password</span>
    </button>

    <!--Update phone number-->
    <button
      class="flex gap-2 items-center"
      mat-menu-item
      routerLink="/users/phone-number"
    >
      <ng-icon
        class="text-sm hover:text-pink-300"
        matMenuItemIcon
        name="bootstrapTelephone"
      />
      <span class="text-sm">Update phone number</span>
    </button>

    <mat-divider class="bg-black h-0.5"/>

    <!--Log out-->
    <button
      (click)="handleSignOut()"
      class="flex gap-2 items-center"
      mat-menu-item
    >
      <ng-icon
        class="text-sm text-red-400"
        matMenuItemIcon
        name="bootstrapArrowBarLeft"
      />
      <span class="text-sm">Log out</span>
    </button>

  </div>
</mat-menu>

