<app-auth-layout-page>

  <!--Title-->
  <app-auth-title
    otherText="For security reasons, we do NOT store your password, so you can NOT reset it.
     So rest assured that we will never send your password via email"
    subtitle="Enter the email you used you joined and we will send a link to sign in."
    title="Forgot Password?"
  />

  <!-- Reset password form-->
  <!--Email-->
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="forgotPasswordForm"
    class="w-full flex flex-col gap-4">
    <div
      style="view-transition-name: email-input"
    >
      <label class="font-medium" for="email">Email Address</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <ng-icon
            [ngClass]="{'text-red-500':
            forgotPasswordForm.controls.email.invalid && forgotPasswordForm.controls.email.dirty && forgotPasswordForm.controls.email.touched}"
            class="text-pink-300 text-sm"
            name="bootstrapEnvelope"/>
        </div>
        <input
          [ngClass]="{'border-red-500 focus:ring-red-500 focus:ring-offset-red-500':
          forgotPasswordForm.controls.email.invalid && forgotPasswordForm.controls.email.dirty && forgotPasswordForm.controls.email.touched}"
          class="w-full bg-black bg-opacity-20 rounded border border-gray-800 py-2 ps-10 px-3.5 text-sm -tracking-tighter on-focus "
          formControlName="email"
          id="email"
          placeholder="Ex. example@google.com"
          type="email"
        >
      </div>
    </div>

    <button
      [disabled]="forgotPasswordForm.invalid || appLoadingService.getIsLoading()()"
      [ngClass]="forgotPasswordForm.invalid || appLoadingService.getIsLoading()() ? 'bg-pink-400' : 'bg-pink-600 hover:bg-pink-500 on-focus'"
      class="font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all"
      type="submit">
      Send link
    </button>

  </form>


</app-auth-layout-page>
