<nav
  class="py-2 px-1 sm:px-10 md:px-20 mt-1 mx-1 sm:mx-3 rounded flex items-center justify-between z-10 sticky top-0"
  mat-ripple>

  <div class="flex items-center gap-2">
    <!-- Logo-->
    <a
      class="text-2xl hover:text-pink-300 hover:scale-110 transition-all"
      routerLink="/todos"
    >
      Arty | Todo
    </a>

    <app-smile-emoji/>
  </div>


  <!--Nav items-->
  <ul class="flex items-center justify-center gap-5">

    <li class="p-2 hover:text-pink-300 hover:scale-110 rounded-xl transition-all">
      <a
        class="flex flex-col items-center gap-1"
        routerLink="/todos"
        routerLinkActive="text-pink-400">
        <ng-icon
          class="text-xl"
          name="bootstrapListTask"/>
        <span class="text-xs">Todos</span>
      </a>
    </li>

    <li class="p-2 hover:text-pink-300 hover:scale-110 rounded-xl transition-all">
      <app-user-settings-menu/>
    </li>

  </ul>


</nav>
