<main class="flex justify-center items-center w-full h-[80%]">

  <div class="w-full sm:w-[600px] p-1 sm:p-5 sm:pe-6 relative flex flex-col justify-center">
    <section class="flex justify-between items-center">


      <!--Search input-->
      <app-search-todo-input class="w-[400px]"/>

      <!--Add todos-->
      <app-add-todo/>

    </section>
    @defer (when !isLoading) {

      <!--  todos list -->
      <app-todo-list/>
    } @placeholder () {

      <div class="flex items-center justify-center h-[200px]">
        <mat-spinner [diameter]="25" mode="indeterminate"/>
      </div>
    }
  </div>

</main>


