<div class="flex items-center gap-2 m-auto">
  <h3 class="font-medium">Sign in with: </h3>

  <!--Google-->
  <button class="flex items-center p-2 rounded-xl hover:bg-neutral-700 hover:text-pink-400 on-focus transition-all">
    <ng-icon class="text-xl" name="bootstrapGoogle"/>
  </button>

  <!--Facebook-->
  <button class="flex items-center p-2 rounded-xl hover:bg-neutral-700 hover:text-blue-700 on-focus transition-all">
    <ng-icon class="text-xl" name="bootstrapFacebook"/>
  </button>

  <!--Github-->
  <button class="flex items-center p-2 rounded-xl hover:bg-neutral-700 hover:text-gray-900 on-focus transition-all">
    <ng-icon class="text-xl" name="bootstrapGithub"/>
  </button>

</div>
