<div class="bg-neutral-900">
  <!--Head-->
  <h3 class="text-lg font-normal" mat-dialog-title>
    Edit <span class="text-pink-400">user</span>.
  </h3>

  <!--Modal content-->
  <mat-dialog-content class="p-5 md:p-10 space-y-7">

    <!--Close left top button-->
    <button
      (click)="onCancel()"
      class="absolute top-3 end-2.5 bg-transparent text-pink-100 hover:bg-pink-100 hover:text-gray-900 hover:rotate-90 rounded-lg w-8 h-8 inline-flex justify-center items-center on-focus transition-all"
      type="button"
    >

      <ng-icon
        class="text-2xl"
        name="bootstrapX"/>

      <span class="sr-only">Close modal</span>
    </button>


    <!-- Users form -->
    <form [formGroup]="userForm" class="px-3 text-pink-100 flex flex-col gap-2 w-full">

      <!--Email-->
      <div>
        <label class="font-medium text-sm" for="email">Email Address</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <ng-icon
              [ngClass]="{'text-red-500':
          userForm.controls.email.invalid && userForm.controls.email.dirty && userForm.controls.email.touched}"
              class="text-pink-300 text-sm"
              name="bootstrapEnvelope"/>
          </div>
          <input
            [ngClass]="{'border-red-500 focus:ring-red-500 focus:ring-offset-red-500':
        userForm.controls.email.invalid && userForm.controls.email.dirty && userForm.controls.email.touched}"
            class="w-full bg-black bg-opacity-20 rounded border border-gray-800 py-2 ps-10 px-3.5 text-sm -tracking-tighter on-focus"
            formControlName="email"
            id="email"
            placeholder="Ex. example@google.com"
            type="email"
          >
        </div>
      </div>

      <!--UserName-->
      <div>
        <label class="font-medium text-sm" for="email">User name</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <ng-icon
              [ngClass]="{'text-red-500':
          userForm.controls.userName.invalid && userForm.controls.userName.dirty && userForm.controls.userName.touched}"
              class="text-pink-300 text-sm"
              name="bootstrapPersonHeart"/>
          </div>
          <input
            [ngClass]="{'border-red-500 focus:ring-red-500 focus:ring-offset-red-500':
        userForm.controls.userName.invalid && userForm.controls.userName.dirty && userForm.controls.userName.touched}"
            class="w-full bg-black bg-opacity-20 rounded border border-gray-800 py-2 ps-10 px-3.5 text-sm -tracking-tighter on-focus"
            formControlName="userName"
            id="userName"
            placeholder="Ex. Arteezy"
            type="text"
          >
        </div>
      </div>

      <!--FullName-->
      <div>
        <label class="font-medium text-sm" for="fullName">Full name</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <ng-icon
              [ngClass]="{'text-red-500':
          userForm.controls.fullName.invalid && userForm.controls.fullName.dirty && userForm.controls.fullName.touched}"
              class="text-pink-300 text-sm"
              name="bootstrapPersonCheck"/>
          </div>
          <input
            [ngClass]="{'border-red-500 focus:ring-red-500 focus:ring-offset-red-500':
        userForm.controls.fullName.invalid && userForm.controls.fullName.dirty && userForm.controls.fullName.touched}"
            class="w-full bg-black bg-opacity-20 rounded border border-gray-800 py-2 ps-10 px-3.5 text-sm -tracking-tighter on-focus"
            formControlName="fullName"
            id="fullName"
            placeholder="Ex. First Last name"
            type="text"
          >
        </div>
      </div>

      <!--Phone Number-->
      <div class="w-full">
        <label class="font-medium text-sm" for="fullName">Phone number</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <ng-icon
              [ngClass]="{'text-red-500':
          userForm.controls.phoneNumber.invalid && userForm.controls.phoneNumber.dirty && userForm.controls.phoneNumber.touched}"
              class="text-pink-300 text-sm"
              name="bootstrapTelephone"/>
          </div>
          <input
            [ngClass]="{'border-red-500 focus:ring-red-500 focus:ring-offset-red-500':
        userForm.controls.phoneNumber.invalid && userForm.controls.phoneNumber.dirty && userForm.controls.phoneNumber.touched}"
            class="w-full bg-black bg-opacity-20 rounded border border-gray-800 py-2 ps-10 px-3.5 text-sm -tracking-tighter on-focus"
            formControlName="phoneNumber"
            id="phoneNumber"
            placeholder="Ex. First Last name"
            type="text"
          >
        </div>
      </div>

      <!--Role-->
      <div class="w-full flex flex-col items-center">
        <mat-radio-group aria-label="Select an option" class="flex gap-2" formControlName="role">
          <mat-radio-button value="user">User</mat-radio-button>
          <mat-radio-button value="admin">Admin</mat-radio-button>
        </mat-radio-group>
      </div>

    </form>

  </mat-dialog-content>

  <mat-dialog-actions>

    <div class="px-3">
      <!--Agree button-->
      <button
        (click)="onAgreeResults()"
        [disabled]="userForm.invalid || userForm.untouched"
        [ngClass]="userForm.invalid || userForm.untouched ? 'bg-pink-400' : 'bg-pink-600 hover:bg-pink-500 on-focus'"
        class="font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center transition-all"
        type="button">
        Add toDo
      </button>

      <!--Cancel button-->
      <button
        (click)="onCancel()"
        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 bg-pink-100 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-pink-500 focus:z-10 on-focus transition-all"
        type="button">
        No, cancel
      </button>
    </div>

  </mat-dialog-actions>
</div>

